#about {
    font-size: 16px;
    text-align: center;
}

#about p {
    margin-top: 100px;
}

.timestamp {
    font-size: 10pt;
}

img {
    border: 0;
}

pre.log {
    font-size: 10pt;
    margin-left: 5px;
    margin-right: 5px;
    white-space: pre-wrap;
}

.build_title {
    font-size: 16pt;
    font-weight: bold;
}

.changeset_author {
    font-size: 12pt;
}

.page_title {
    color: black;
    background: #fff;
    border: 1px solid #B4B4B4;
    font: bold 16pt Helvetica;
    padding: 5px 5px 5px 5px;
    margin: 15px 10px 17px 10px;
    -webkit-border-radius: 8px;
    text-align: center;
}
