<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG_Suite" verbose="4">
    <test name="DefaultTestPackage">
        <packages>
            <package name="hudson.plugins.testabilityexplorer"/>
        </packages>
    </test>
</suite>